<!DOCTYPE html>
<html lang="en">
  {{>headerlinks}}
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- right side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/cloudy.png" alt="weather" title="cloud" class="img-fluid">
                    </figure>
                </div>
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I Am A <span class="text_clr"> Mern Stack Develper, </span> And A Freelancer</h1>
                    <a href="https://github.com/ZshanHaidar" target="_blank"><button>ABOUT ME</button></a>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}

  </body>
</html>
